﻿@font-face {
    font-family: "myfont";
    src: url('/fonts/good times rg.ttf');
}

::selection {
    background: #c0c0c0;
    color: black;
}

a:link, a:visited, a:hover, a:active {
    color: silver;
}

body {
    background: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 910px;
    font-family: "myfont";
    font-size: 12px;
    color: silver;
}

div {
    margin-top: 1px;
    border: 1px solid silver;
}

#sx {
    background-image: linear-gradient(to top, silver, black);
    padding-top: 10px;
    padding-right: 10px;
    width: 190px;
    height: 595px;
    position: absolute;
    margin-left: 1px;
    display: inline-block;
    text-align: right;
}

.fadein {
    width: 500px;
    height: 605px;
    margin-left: 204px;
    display: inline-block;
    overflow: hidden;
}

    .fadein img {
        position: absolute;
    }

#dx {
    background-image: linear-gradient(to top, silver, black);
    padding-top: 10px;
    padding-left: 10px;
    width: 190px;
    height: 595px;
    position: absolute;
    margin-left: 1px;
    display: inline-block;
    text-align: left;
}

#bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    margin-top: -1px;
    margin-left: 204px;
    text-align: center;
}

#credits {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    margin-left: 204px;
    text-align: center;
    border-style: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 11px;
}
